h1 	{
	color: green;
}

/* Post title styling */
h2	{
	color: #635F5C;
	font-family: "Helvetica Neue";
	font-size: 34px;
	font-weight: 300;
}

/* Post description and post date styling */
p 	{
	color: #76716E;
	font-family: "Helvetica Neue";
	font-size: 13pt;
} 

/* Post border styling */
.container	{
	border: solid 3px #F5F6F3;
}