<html>
<head>
	<title> Feed Index </title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'feed_style.css' %}"/>
</head>

<body>
	<h1> We are connected! This is the feed page </h1>
	<h3> All of the titles: </h3>
	<ol>
		<!-- display each title for all of the entries -->
		{% for post in collection_data %}
		<li><h4> {{ post.title }} </h4></li>
			<ul>
				<!-- display publication date for all entries -->
				<li> {{ post.pub_date }} </li>
				<!-- display content for all entries. -->
				<!-- turning off autoescape to execute embedded html -->
				<li> {% autoescape off %} {{ post.description }} {% endautoescape %}</li>
			</ul>	
		{% endfor %}
	</ol>

</body>
</html>